@import url('../../shared/styles/variables.css');
@import url('../../shared/styles/colors.css');

@define-mixin size {
  height: 5rem;
  width: 5rem;
}

@keyframes rise-and-fall {
  0% {
    transform: translateX(0);
  }

  35% {
    transform: translate3d(-8rem, 1rem, 0);
  }

  40% {
    /* Нужно для исчезновения влево */
    opacity: 0;
  }

  65% {
    /* Нужно, чтобы стал видимым только при движении справа налево */
    opacity: 0;
    transform: translate3d(8rem, 1rem, 0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.container {
  background-color: #ffde5f;
  border-radius: 100rem;

  @mixin size;

  &:hover {
    background-color: #f8cc37;
  }
}

.animation {
    animation: rise-and-fall var(--long-animation-duration);
}

.switchThemeButton {
  background: none;
  border: none;
  border-radius: 100rem;
  cursor: pointer;
  font-size: 3rem;

  @mixin size;
}