:root {
  /* Цвета фона */
  --app-background-right-light: #a2bdc8;
  --app-background-left-light: #314158;
  --app-background-right-dark: #5A6679;
  --app-background-left-dark: #1D2734

  /* Цвет основого текста */

  /* --app-color-light: #0a1928; */

  /* --app-color-dark: #F5F5F5; */
}